-content_for :title do
  = "About Ms. H.: #{main_title}"
- content_for :head do
  .header.page
    .header-image
      = image_tag 'greenhouse_large_2.jpg'
    .container
      .row
        .span12
          %h1 About Ms. H.

- content_for :breadcrumbs do
  .row
    .span12
      %ul.breadcrumb
        %li
          =link_to 'Home', '/'
          %span.divider /
        %li.active
          =link_to 'About Ms. H', '/', :class => 'active'

/ %p=@about_text

%p This is Ms. Hitchcock's 3rd year at Monroe High School teaching Plant Science. Recently, her program was awarded a $10,000 Washington STEM grant.

%p Ms. Hitchcock graduated from Washington State University in 2010 with a degree in Agricultural Education with an emphasis in Horticulture and Greenhouse Management. Work experiences include: Glendale Country Club in Bellevue, Wa, WSU Horticulture Club Greenhouses in Pullman, Wa, and the USDA Cool Season Food Legumes Project in Pullman, Wa. Ms. Hitchcock likes to garden and spend time in the greenhouse. She also likes to relax and watch funny tv shows like Parks and Recreation.