- content_for :head do
  .header.page
    .header-image
      = image_tag 'greenhouse_large_2.jpg'
    .container
      .row
        .span12
          %h1 Career Choices With Ms. H.

- content_for :breadcrumbs do
  .row
    .span12
      %ul.breadcrumb
        %li
          =link_to 'Home', '/'
          %span.divider /
        %li.active
          =link_to 'Career Choices', '/', :class => 'active'

%h3 Career Choices is a semester long course offered at Monroe High School to freshmen and sophomores for either an Occupational credit or Elective credit.

%p This is an introductory course for preparation towards the Culminating Challenge graduation requirement.Career Choices will improve student awareness of self and the opportunities for success. it is an activity-centered class that focuses on the connection between individual capabilities, needs, and career choices. It includes instruction in the variety and scope of available employment. Students will leave with an new understanding of the connection between school and the real world of work, and will have completed a plan for the rest of their high school career. Students will have at least three opportunities to practice presentations in front of peers, which is a large part of the requirements for the Culminating Challenge. Students will also be better equipped to select a topic for their Culminating Challenge Project that is meaningful and relevant to their future. Students completing Career Choices with a grade of "B" or better may earn college credits available from EvCC. Workbook fee is approximately $12.