/ #footer{'data-role' => 'footer', 'data-position' => 'fixed', 'data-id' => 'foo1'}
/   #footer-nav{'data-role' => 'navbar', 'data-iconpos' => 'top'}
/     %ul
/       %li
/         %a{:href => '#', 'data-icon' => 'delete', 'data-transition' => 'fade'} One
/       %li
/         %a{:href => '#', 'data-icon' => 'delete', 'data-transition' => 'fade'} Two
/       %li
/         %a{:href => '#', 'data-icon' => 'delete', 'data-transition' => 'fade'} Three