#welcome{'data-role' => 'page', 'data-theme' => 'b'}
  #header{'data-role' => 'header'}
    %h1 Welcome
  #content{'data-role' => 'content'}
    %h3
      Enter your name to get started.
    %p
      %label{:for => 'student-name'} Your name is...
      %input{:type => 'text', :name => 'student-name', :id => 'student-name'}
    %p
      %a#welcome-form-button{:href => '#greenhouse-info', 'data-role' => 'button', 'data-transition' => 'slide'} To the Greenhouse!
  = render :partial => 'mobile_footer'

#greenhouse-info{'data-role' => 'page', 'data-theme' => 'b'}
  #header{'data-role' => 'header'}
    %a{:href => '#welcome', 'data-icon' => 'back', 'data-transition' => 'fade'} Back
    %h1 Greenhouse
  #content{'data-role' => 'content'}
    %p
      %label{:for => 'greenhouse-temperature'} Greenhouse Temperature (&deg;F)
      %input{:type => 'number', :name => 'greenhouse-temperature', :id => 'greenhouse-temperature'}
    %p
      %label{:for => 'outside-temperature'} Outside Temperature (&deg;F)
      %input{:type => 'number', :name => 'outside-temperature', :id => 'outside-temperature'}
    %p
      %label{:for => 'relative-humidity'} Light Intensity
      %input{:type => 'number', :name => 'light-itensity', :id => 'light-itensity'}
    %p
      %label{:for => 'relative-humidity'} Relative Humidity
      %input{:type => 'number', :name => 'relative-humidity', :id => 'relative-humidity'}
    %p
      %label{:for => 'air-circulation-present'} Air Circulation Present?
      %select{:name => 'air-circulation-present', :id => 'air-circulation-present', 'data-role' => 'slider'}
        %option{:value => '0'} No
        %option{:value => '1'} Yes
    %p
      %a#greenhouse-info-button{:href => '#plant-identification', 'data-role' => 'button', 'data-transition' => 'slide'} Let's Go
  = render :partial => 'mobile_footer'

#plant-identification{'data-role' => 'page', 'data-theme' => 'b'}
  #header{'data-role' => 'header'}
    %a{:href => '#greenhouse-info', 'data-icon' => 'back', 'data-transition' => 'fade'} Back
    %h1 Plant Identification
  #content{'data-role' => 'content'}
    %h3
      Plant Specimen Number
    %p
      Now let's get some information about your plant.  Enter the plant identification number.
      %input#plant-id-number{:type => 'number', :name => 'plant-id-number'}
    %p
      %a#plant-identification-button{:href => '#basic-info', 'data-role' => 'button', 'data-transition' => 'slide'} Collect Data
  = render :partial => 'mobile_footer'

#basic-info{'data-role' => 'page', 'data-theme' => 'b'}
  #header{'data-role' => 'header', 'data-them' => 'b'}
    %a{:href => '#plant-identification', 'data-icon' => 'back', 'data-transition' => 'fade'} Back
    %h1.plant-name Unknown Plant
  #content{'data-role' => 'content'}
    %h3.plant-name Unknown Plant
    %h4.plant-botanical-name 
    %p
      #basic-info-description{'data-role' => 'collapsible', 'data-theme' => 'c'}
        %h3 About This Plant
        %p
          No Data.

    %p
      %h3 Update this specimen's data:

      #basic-info-form
        %p
          %label{:for => 'nutrient-solution-temperature'} Nutrient Solution Temperature (&deg;F)
          %input{:type => 'number', :name => 'nutrient-solution-temperature', :id => 'nutrient-solution-temperature'}
        %p
          %label{:for => 'growing-media-quality'} What Quality is the Growing Media?
          %input{:type => 'text', :name => 'growing-media-quality', :id => 'growing-media-quality'}
        %p
          %label{:for => 'height'} Plant Height (cm)
          %input{:type => 'number', :name => 'height', :id => 'height'}
        %p
          %label{:for => 'leaves-count'} Number of Leaves Present
          %input{:type => 'number', :name => 'leaves-count', :id => 'leaves-count'}
        %p
          %label{:for => 'leaves-size'} Length of Largest Leaf (cm)
          %input{:type => 'number', :name => 'leaves-size', :id => 'leaves-size'}
        %p
          %label{:for => 'leaf-color'} Stem/Leaf Color
          %input{:type => 'text', :name => 'leaf-color', :id => 'leaf-color'}
        %p
          %label{:for => 'flowers-or-buds'} Are there flowers/buds?
          %select{:name => 'flowers-or-buds', :id => 'flowers-or-buds', 'data-role' => 'slider'}
            %option{:value => '0'} No
            %option{:value => '1'} Yes
          #flowers-details{'data-role' => 'collapsible', 'data-theme' => 'b'}
            %p
              %label{:for => 'flower-count'} Number of Flowers
              %input.optional{:type => 'number', :name => 'flower-count', :id => 'flower-count'}
            %p
              %label{:for => 'spent-flower-count'} Number of Spent Flowers
              %input.optional{:type => 'number', :name => 'spent-flower-count', :id => 'spent-flower-count'}
            %p
              %label{:for => 'flower-color'} Color of Largest Flower
              %input.optional{:type => 'text', :name => 'flower-color', :id => 'flower-color'}
        %p
          %label{:for => 'fruits'} Are there any fruits?
          %select{:name => 'fruits', :id => 'fruits', 'data-role' => 'slider'}
            %option{:value => '0'} No
            %option{:value => '1'} Yes
          #fruits-details{'data-role' => 'collapsible', 'data-theme' => 'b'}
            %p
              %label{:for => 'immature-fruit-count'} Number of Immature Fruits
              %input.optional{:type => 'number', :name => 'immature-fruit-count', :id => 'immature-fruit-count'}
            %p
              %label{:for => 'immature-fruit-color'} Color of Immature Fruits
              %input.optional{:type => 'text', :name => 'immature-fruit-color', :id => 'immature-fruit-color'}
            %p
              %label{:for => 'mature-fruit-count'} Number of Mature Fruits
              %input.optional{:type => 'number', :name => 'mature-fruit-count', :id => 'mature-fruit-count'}
            %p
              %label{:for => 'mature-fruit-color'} Color of Mature Fruits
              %input.optional{:type => 'text', :name => 'mature-fruit-color', :id => 'mature-fruit-color'}
            %p
              %label{:for => 'fruit-diameter'} Diameter of Largest Fruit (cm)
              %input.optional{:type => 'number', :name => 'fruit-diameter', :id => 'fruit-diameter'}
        %p
          %label{:for => 'plant-loss'} Has there been any plant loss?
          %select{:name => 'plant-loss', :id => 'plant-loss', 'data-role' => 'slider'}
            %option{:value => '0'} No
            %option{:value => '1'} Yes
        %p
          %label{:for => 'observations'} Any Other Observations
          %textarea.optional{:name => 'observations', :id => 'observations'}
        %p
          %a#basic-info-button{:href => '#done', 'data-role' => 'button', 'data-rel' => 'dialog', 'data-icon' => 'check', 'data-transition' => 'fade'} Save Specimen Data

    = render :partial => 'mobile_footer'

#done{'data-role' => 'page', 'data-theme' => 'b'}
  #header{'data-role' => 'header'}
    %h1 Nice work!
  #content{'data-role' => 'content'}
    %p
      Data for 
      %span.plant-name
      has been updated.
    %p
      %a#form-complete-button{:href => '#welcome', 'data-role' => 'button', 'data-transition' => 'fade'} Observe Another Plant
