.row.index_unit{'data-id' => index_unit.id}
  .span9.unit_info
    %span 
      = index_unit.name
  .span3.actions
    %a.btn{:href => unit_path(index_unit) } Edit
    //%a.btn Disable
    = link_to('Delete', (unit_path(index_unit) + '/delete'), :remote => true, :method => 'post', :confirm => "Are you sure you want to delete #{index_unit.name}?", :class => 'btn btn-danger')