.row.index_material{'data-id' => index_material.id}
  .span9.material_info
    %span 
      = helper_linked_name(index_material)
  .span3.actions
    %a.btn.edit-material{'data-toggle' => 'modal', :href => '#edit_material', 'data-id' => index_material.id, 'data-name' => index_material.name} Edit Name
    // %a.btn Disable
    = link_to('Delete', (material_path(index_material) + '/delete'), :remote => true, :method => 'post', :confirm => "Are you sure you want to delete #{index_material.name}?", :class => 'btn btn-danger')